@import "tailwindcss";

/* Variables */
@theme {
	/* Container */
	--container-width: 1192px;
	--container-side-padding: 16px;
	--container-max-width: calc(
		var(--container-width) + (2 * var(--container-side-padding))
	);

	/* Fonts */
	--font-verdana: "Verdana", sans-serif;

	/* Colors */
	--color-primary: oklch(20.4% 0.02 280.02);
	--color-error: oklch(63.7% 0.237 25.331);
	--color-success: oklch(72.3% 0.219 149.579);
	--color-warning: oklch(70.5% 0.213 47.604);

	/* Shadow */
	--shadow-md: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
	/* Animations */
	--animate-fadeIn: fadeIn 0.3s linear;

	/* Breakpoint */
	--breakpoint-mobile: 1200px;

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}

/* Container max-width & paddings */
@utility container {
	@apply mx-auto max-w-(--container-max-width) px-(--container-side-padding) min-[1200px]:px-0;
}

/* Base Elements  */
@layer base {
	body {
		@apply font-verdana;
	}
	a {
		@apply transition-colors;
	}
	button {
		@apply cursor-pointer;
	}
	p {
		@apply text-black;
	}
}

/* Custom Components */
@layer components {
	/* Button */
	.btn {
		@apply inline-flex items-center gap-3 rounded-lg border border-transparent px-3 py-2 transition-colors disabled:cursor-not-allowed disabled:opacity-85;
	}
	.btn-primary {
		@apply bg-primary not-disabled:hover:bg-primary/90 not-disabled:active:bg-primary/80 text-white;
	}
}

/* Utility Classes */
@layer utilities {
	/* Image Background */
	.with-image-bg {
		@apply relative z-0 overflow-hidden after:absolute after:inset-0 after:-z-10 after:h-full after:w-full after:bg-black/20 [&_img]:transition-transform hover:[&_img]:scale-110;
	}
	.image-bg {
		@apply absolute inset-0 -z-10 h-full w-full max-w-full object-cover;
	}
	.swiper-button-disabled {
		@apply cursor-not-allowed! opacity-50!;
	}
}
@utility no-scrollbar {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

/* Swiper */
.swiper-lifestyle-big .swiper-slide {
	opacity: 0.5;
	transition: 0.3s opa--value();
}
.swiper-lifestyle-big .swiper-slide-active {
	opacity: 1;
}
.swiper-entertainment-big .swiper-slide {
	opacity: 0.5;
	transition: 0.3s opa--value();
}
.swiper-entertainment-big .swiper-slide-active {
	opacity: 1;
}
